.git
.idea
compilador
.old
cmake-build-release
cmake-build-debug
cmake-build-release/*
cmake-build-debug/*
dados/tratamento_para_artigo/
dados/originais_jequiti/
build/dados/debug/
build/dados/resultados/
build/dados/teste/
build/dados/rodar*
build/dados/*bkp*
build/rodar*
dados

