.git
.idea
compilador
.old
.old.rar
*.xlsx
*/*.xlsx
*.lp
cmake-build-release
cmake-build-debug
cmake-build-release/*
cmake-build-debug/*
dados/tratamento_para_artigo/
dados/tratamento
dados/tratamento_para_artigo/*
dados/tratamento_para_artigo/*.*
dados/tratamento_para_artigo/*.xlsx
dados/tratamento_para_artigo/xlsx/
dados/originais_jequiti/
build/dados/debug
build/dados/debug/
build/dados/debug/*.*
build/dados/resultados
build/dados/teste
build/dados/resultados/*.xlsx
build/dados/resultados/xlsx/
build/dados/resultados/resultados_sem_prodepe/xlsx
build/dados/resultados/resultados_com_prodepe/xlsx